{% extends 'base.html' %}

{% load static %}

{% block title %} Confirmare plată {% endblock %}

{% block content %}
    <div class="container-lg mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4 mb-4">Confirmare plată</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <button id="proceedToPayment" type="submit" class="btn btn-primary btn-lg btn-block">Confirmare plata</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                {% if messages %}
                    <div class="alert alert-info">
                        <ul class="list-unstyled mb-0">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
