{% extends 'base.html' %}

{% load static %}

{% block title %}Open cart{% endblock %}
<script src="{% static 'js/cart.js' %}"></script>
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart_style.css' %}">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-12 mx-auto cart-content">
                {% if total_value is 0 %}
                    <h3 class="mb-10 fw-normal text-black">Shopping Cart Empty</h3>
                    <br><br><br>
                {% else %}
                    <h3 class="mb-4 fw-normal text-black">Shopping Cart</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for cart_item in cart.cartitem_set.all %}
                <div class="card rounded-3 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            {% if cart_item.product.image %}
                                <img src="{{ cart_item.product.image.url }}" class="img-fluid product-image"
                                     alt="{{ cart_item.product.name }}">
                            {% else %}
                                <img class="img-fluid product-image" src="{% static 'product_images/no_image.jpeg' %}"
                                     alt="Image Not Available">
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <p class="lead fw-normal mb-2">{{ cart_item.product.name }}</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-secondary btn-decrease" data-product-id="{{ cart_item.product.id }}">
                                -
                            </button>
                            <span class="quantity">{{ cart_item.quantity }}</span>
                            <button class="btn btn-secondary btn-increase" data-product-id="{{ cart_item.product.id }}">
                                +
                            </button>
                        </div>
                        <div class="col-md-2">
                            <h5 class="mb-0">{{ cart_item.product.price }} lei</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 class="mb-0" id="rezultat_{{ cart_item.product.id }}"></h5>
                            <script>
                                function inmultire(a, b) {
                                    return a * b;
                                }
                                var valoare1_{{ cart_item.product.id }} = {{ cart_item.product.price }};
                                var valoare2_{{ cart_item.product.id }} = {{ cart_item.quantity }};
                                var rezultat_{{ cart_item.product.id }} = inmultire(valoare1_{{ cart_item.product.id }}, valoare2_{{ cart_item.product.id }});
                                document.getElementById("rezultat_{{ cart_item.product.id }}").innerHTML = rezultat_{{ cart_item.product.id }} + " lei";
                            </script>
                        </div>
                        <div class="col m-1">
                            <form action="{% url 'remove-product-from-cart' cart_item.product_id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-remove">Remove</button>
                            </form>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
{#                    <a href="{% url 'checkout' %}" class="btn btn-outline-success">Proceed to Checkout</a>#}
                </div>
                <br>
        <br>
                <div class="col-md-5"></div>
                <div class="col-md-3">Total de plata: {{ total_value }} lei</div>
            </div>
        </div>



        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'checkout' %}" class="btn btn-outline-success">Confrirma plata</a>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <a href="{% url 'product_list' %}" class="btn btn-outline-success">Continua cumparaturile</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}

{#<script>#}
{#    document.addEventListener('DOMContentLoaded', function () {#}
{#        const decreaseButtons = document.querySelectorAll('.btn-decrease');#}
{#        const increaseButtons = document.querySelectorAll('.btn-increase');#}
{#        const quantityElements = document.querySelectorAll('.quantity');#}
{##}
{#        decreaseButtons.forEach(button => {#}
{#            button.addEventListener('click', function () {#}
{#                const productId = this.getAttribute('data-product-id');#}
{#                const quantityElement = document.querySelector(`.quantity[data-product-id="${productId}"]`);#}
{#                const currentQuantity = parseInt(quantityElement.textContent);#}
{#                if (currentQuantity > 1) {#}
{#                    const newQuantity = currentQuantity - 1;#}
{#                    quantityElement.textContent = newQuantity;#}
{#                }#}
{#            });#}
{#        });#}
{##}
{#        increaseButtons.forEach(button => {#}
{#            button.addEventListener('click', function () {#}
{#                const productId = this.getAttribute('data-product-id');#}
{#                const quantityElement = document.querySelector(`.quantity[data-product-id="${productId}"]`);#}
{#                const currentQuantity = parseInt(quantityElement.textContent);#}
{#                const newQuantity = currentQuantity + 1;#}
{#                quantityElement.textContent = newQuantity;#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
