{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}Products - Details{% endblock %}

{% block content %}
    <div class="container-fluid my-container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-8 offset-md-2 my-content">
                <div class="row">
                    <div class="d-flex  col-md-12">
                        <div class="card">
                            <img class="card-img-top" width="100%" height="auto" src="{{ products.image.url }}"
                                 alt="{{ product.name }}">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{ products.descriptions }}</h2>
                                <br>
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="text-right">Category: {{ products.category }}</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <h5 class="card-title">{{ product.price }} Lei</h5>
                                <h6 class="card-title">{{ product.quantity }} produse disponibile</h6>
                                <form action="{% url 'add_product_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ products.id }}">
                                    <button type="submit" class="btn btn-outline-primary">
                                        <a href="{% url 'add_product_to_cart' %}" class="btn btn-primary">
                                            <img class="logo" src="{% static 'icon/cart.svg' %}"
                                                 alt="NTU Badge"
                                                 width="20" height="20"/>

                                    </button>
                                </form>
                                <a href="#" class="btn btn-primary">
                                    <img class="logo" src="{% static 'icon/favorite.svg' %}" alt="NTU Badge"
                                         width="30" height="30"/>
                                </a>
                                <a href="{% url 'modify-product' product.id %}" class="btn btn-primary">
                                    <img class="logo" src="{% static 'icon/edit.svg' %} " alt="NTU Badge"
                                         width="30" height="30"/>
                                </a>

                                <a href="{% url 'product_list' %}" class="btn btn-primary">
                                    <img class="logo" src="{% static 'icon/back.svg' %}" alt="NTU Badge"
                                         width="30" height="30"/>Inapoi
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
